.back-to-chats-link {
  text-decoration: none;
}

.create-chat-users-content {
  align-self: flex-start;
  margin-top: 3rem;
  padding-left: 1.75rem;
  display: flex;
  flex-direction: column;
}

.search-for-user-box {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.search-for-user-input {
  width: 20rem;
  height: 2.5rem;
  padding-left: 0.75rem;
  border-radius: 7px;
  border: 1px solid #777;
}

.search-for-user-btn {
  margin-left: 0.75rem;
  background-color: rgb(49, 117, 214);
  color: white;
}

.search-for-user-btn:hover {
  background-color: rgb(91, 151, 234);
  color: white;
}

.create-chat-users-list {
  margin-top: 0.5rem;
}

.user {
  margin-top: 1rem;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.user:hover {
  cursor: pointer;
  background-color: rgb(230, 240, 255);
}

.user-info {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.user-img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid #bbb;
  background-color: white;
}

.user-name {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 13px;
}

.user-create-chat-btn {
  margin: 0;
  padding: 1px 0;
  background-color: rgb(49, 117, 214);
  color: white;
  font-size: 13px;
}

.user-create-chat-btn:hover {
  background-color: rgb(91, 151, 234);
  color: white;
}

.search-for-user-pageable {
  margin: 1.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-for-user-pageable > * {
  margin: 0 0.5rem;
}

.search-for-user-pageable-btn {
  padding: 0 0.5rem;
  background-color: rgb(49, 117, 214);
  color: white;
}

.search-for-user-pageable-btn:hover {
  background-color: rgb(91, 151, 234);
  color: white;
}
