.register-box {
  padding: 3rem 6rem;
  background-color: rgb(228, 238, 255);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 15px -5px rgba(66, 68, 90, 1);
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.register-title {
  margin-left: 0.5rem;
  margin-bottom: 2rem;
}

.register-btn {
  width: calc(100% - 1rem);
  margin: 0.5rem;
  margin-top: 2.5rem;
  border-radius: 0.25rem;
  border: 1px solid #999;
  height: 3rem;
  font-size: 16px;
  background-color: rgb(110, 163, 255);
  color: white;
}

.register-btn:hover {
  background-color: rgb(93, 147, 240);
}
