.chat-view {
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  height: 100%;
  position: relative;
}

.chat-beginning {
  margin: 0.5rem 0 1.5rem 0;
}
