.chat-svg {
  width: 10px;
  height: 10px;
}

.chat {
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 3px;
}

.chat:hover {
  cursor: pointer;
  background-color: rgb(230, 240, 255);
}

.chat-img-box {
  position: relative;
}

.chat-img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.chat-active-badge {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  bottom: 0;
  right: 0;
  background-color: rgb(86, 245, 61);
  border-radius: 50%;
}

.chat-inactive-badge {
  position: absolute;
  height: 1rem;
  bottom: -6px;
  right: -8px;
  background-color: #999;
  color: white;
  border-radius: 0.5rem;
  font-size: 9px;
  line-height: 1rem;
  padding: 0 4px 0 3px;
}

.chat-info {
  margin-left: 0.5rem;
  width: 100%;
}

.chat-name {
  margin: 2px;
  font-size: 13px;
}

.chat-messagebox {
  display: flex;
  margin-right: 0rem;
}

.chat-messagebox-date {
  margin: 2px;
  color: #566;
  font-size: 12px;
}

.chat-messagebox-message {
  margin: 2px;
  text-align: right;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}

.chat-preview-active::before {
  content: '';
  position: absolute;
  left: -0.5rem;
  width: 0.5rem;
  height: 3.5rem;
  background-color: rgb(49, 117, 214);
}

.chat-preview-active {
  background-color: rgb(214, 231, 255);
}
