.my-navbar {
  background: rgb(49, 117, 214);
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 2rem;
}

.my-navbar-link {
  text-decoration: none;
  padding: 1rem;
  background: rgb(44, 109, 200);
  color: white;
  width: 100%;
  text-align: center;
}

li {
  position: relative;
  display: flex;
  transition-duration: 0.3s;
}

.my-navbar-dropdown .navbar-link {
  background: rgb(62, 125, 213);
}

.my-navbar-link:hover {
  background: rgb(28, 97, 194);
  color: white;
  cursor: pointer;
}

.my-navbar-dropdown {
  display: none;
  position: absolute;
  list-style: none;
  min-width: 5rem;
  margin-top: calc(3rem + 2px);
  padding-left: 0;
  width: 100%;
}

li:hover > .my-navbar-dropdown {
  display: block;
}
