.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.app-content-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
