.app-content {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-content-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
